@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background: oklch(100% 0 0);
  --foreground: oklch(25.553% 0.0379 264.52);
  --card: oklch(100% 0 0);
  --card-foreground: oklch(25.553% 0.0379 264.52);
  --popover: oklch(100% 0 0);
  --popover-foreground: oklch(25.553% 0.0379 264.52);
  --primary: oklch(82.49% 0.217 89.18);
  --primary-foreground: oklch(99.177% 0.0069 252.54);
  --secondary: oklch(96.503% 0.0159 252.54);
  --secondary-foreground: oklch(25.821% 0.0413 260.32);
  --muted: oklch(96.503% 0.0159 252.54);
  --muted-foreground: oklch(62.382% 0.0293 258.01);
  --accent: oklch(65.443% 0.0307 258.01);
  --accent-foreground: oklch(56.799% 0.0383 258.01);
  --destructive: oklch(62.827% 0.1818 25.34);
  --destructive-foreground: oklch(99.177% 0.0069 252.54);
  --border: oklch(92.901% 0.0166 252.54);
  --input: oklch(92.901% 0.0166 252.54);
  --ring: oklch(25.553% 0.0379 264.52);
  --chart-1: oklch(68.525% 0.1533 39.11);
  --chart-2: oklch(70.652% 0.1044 164.52);
  --chart-3: oklch(50.223% 0.0623 219.46);
  --chart-4: oklch(85.592% 0.1069 89.19);
  --chart-5: oklch(78.703% 0.1482 49.73);
  --radius: 0.5rem;
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  .container {
    @apply mx-auto px-4 md:px-8 lg:px-16 xl:px-32;
  }
  .section-gap {
    @apply my-8 md:my-16;
  }
}

/* For Shadcn Dialog */

html[lang="ar"] div[role="dialog"] button {
  left: 24px !important;
  right: auto !important;
}

html[lang="en"] div[role="dialog"] button {
  left: auto !important;
  right: 24px !important;
}
